<div class="animated fadeIn">
  <div class="row mt-1">
    <app-nav-label></app-nav-label>
  </div>
  <div class="row mt-2">
    <form [formGroup]="rootForm" class="w-100">
      <div class="col-12 col-lg-6">
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Fleet Name:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="name" name="name">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Fleet Icon:
          </div>
          <div class="col-3 col-lg-3">
            <img width="25" height="25" class="align-self-center" 
              [src]="rootForm.get('icon').value" />
          </div>
          <div class="col-3 col-lg-3">
            <label class="btn btn-primary">
              Upload<input type="file" hidden>
            </label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Fleet Map Center:
          </div>
          <div class="col-2 col-lg-3">
            <input type="text" class="form-control" placeholder="Latitude"
              formControlName="latitude" name="latitude">
          </div>
          <div class="col-2 col-lg-3">
            <input type="text" class="form-control" placeholder="Longitude"
              formControlName="longitude" name="longitude">
          </div>
          <div class="col-1 col-lg-2">
            <input type="text" class="form-control" placeholder="Zoom"
              formControlName="zoom" name="zoom">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Fleet Time Zone:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="timezone" name="timezone">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Vehicle Address:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="address" name="address">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Vehicle Phone:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="phone" name="phone">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Vehicle Email:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="email" name="email">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6 col-lg-3 align-self-center">
            Other Information:
          </div>
          <div class="col-6 col-lg-3">
            <input type="text" class="form-control" formControlName="note" name="note">
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <table class="table table-striped table-hover table-outline table-sm mt-1">
          <thead class="text-white thead-light bg-primary">
            <tr>
              <th>Vehicle #</th>
              <th width="100">VIN</th>
              <th>Identification</th>
              <th width="100">Create Time</th>
              <th width="50">Picture</th>
              <th width="100">Note</th>
            </tr>
          </thead>
          <tbody>
            <ng-container formArrayName="entries" *ngFor="let entry of rootForm.get('vehicles')['controls']; let i = index;">
              <tr [formGroupName]="i">
                <td>
                  <input type="text" class="form-control" formControlName="code" name="code">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="vin" name="vin">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="mac" name="mac">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="created" name="created">
                </td>
                <td>
                  <input type="text" class="form-control" formControlName="picture" name="picture">
                </td>
                <td class="text-center">
                  <input type="text" class="form-control" formControlName="note" name="note">
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>