<div class="animated fadeIn">
  <div class="row mt-2">
    <div class="col-12 col-lg-4 pb-4 d-flex flex-column justify-content-between">
      <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-outline table-sm mt-1">
          <thead class="text-white thead-light bg-primary">
            <tr>
              <th><small>Alert</small></th>
              <th><small>SPN</small></th>
              <th><small>Notification</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of entryList$ | async" (click)="selectEntry(item)">
              <td>
                <div class="small">{{ item.name }}</div>
              </td>
              <td>
                <div class="small">{{ getSpns(item.conditions) }}</div>
              </td>
              <td>
                <div class="small">{{ item.notification }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <form [formGroup]="entryForm">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-between">
            <div class="row h-100">
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <input type="text" class="form-control my-1" 
                      placeholder="Alert Name" formControlName="name" name="name">
                  </div>
                </div>
                <ng-container formArrayName="conditions">
                  <div class="row my-1"
                    *ngFor="let item of conditions.controls; let i = index" [formGroupName]="i">
                    <div class="col-12 col-md-2 align-self-center">Condition {{ i + 1 }}</div>
                    <div class="col-1"></div>
                    <input type="text" class="form-control col-2" placeholder="SPN"
                      formControlName="spn" name="spn">
                    <select formControlName="expression" name="expression" class="form-control col-3 mx-4">
                      <option value="">Select</option>
                      <option *ngFor="let opt of expressionOptions" [value]="opt">{{ opt }}</option>
                    </select>
                    <input type="text" class="form-control col-2" placeholder="Value"
                      formControlName="value" name="value">
                    <div class="col-2"></div>
                  </div>
                </ng-container>
                <div class="row my-2">
                  <div class="col">GPS condition (trigger by radius)</div>
                </div>
                <div class="row">
                  <div class="col-4">
                    <div class="row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Latitude"
                          formControlName="gpslat" name="gpslat">
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col">
                        <input type="text" class="form-control" formControlName="gpslgt" placeholder="Longitude">
                      </div>
                    </div>
                  </div>
                  <div class="col-3 align-self-center">
                    <select formControlName="gpsexpression" name="gpsexpression" class="form-control">
                      <option value="">Select</option>
                      <option *ngFor="let opt of expressionOptions" [value]="opt">{{ opt }}</option>
                    </select>
                  </div>
                  <div class="col-3 align-self-center">
                    <input type="text" class="form-control" formControlName="gpsvalue" placeholder="Value (mile)">
                  </div>
                </div>
                <div class="row my-2">
                  <div class="col-12 col-md-6">
                    <div class="row my-2">
                      <div class="col">Notification</div>
                    </div>
                    <div class="row">
                      <ng-container formArrayName="notification"
                        *ngFor="let item of entryForm.get('notification')['controls']; let i = index;">
                        <div class="col-3" [formGroupName]="i">
                          <input type="checkbox" formControlName="selected" />&nbsp;{{ item.value.name | titlecase }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text-right">
              <div class="col-12">
                <input type="submit" class="btn btn-secondary my-2" value="DELETE" (click)="deleteEntry()">
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-primary my-2" value="SAVE" (click)="saveEntry()">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <div class="border p-1">
        <small class="text-muted">Operation Log</small>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="table-responsive-lg">
              <table class="table table-striped table-hover table-outline table-sm mt-1">
                <thead class="text-white thead-light bg-primary">
                  <tr>
                    <th><small>Date</small></th>
                    <th><small>Operation</small></th>
                    <th><small>User</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th><small>2018-10-02 13:55:00</small></th>
                    <th><small>update Alert# 3</small></th>
                    <th><small>andre</small></th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>