<StackLayout class="page">
	<ActionBar title="Checklist" class="action-bar">
	</ActionBar>    
	<Button text="&#xf029;" (tap)="onScan()" class="btn-scan" marginTop="20"></Button>
	<StackLayout row="1" col="0" colSpan="4" class="hr-light m-10"></StackLayout>
	<StackLayout>
		<!-- <ListPicker [items]="pokemons" selectedIndex="0" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15"></ListPicker> -->
	</StackLayout>
	<StackLayout></StackLayout>
	<StackLayout></StackLayout>
	<StackLayout></StackLayout>
</StackLayout>