<div class="animated fadeIn">
  <div class="row">
    <div class="col-12 col-lg-9 pt-2 px-0" [style.min-height.px]="mapMinHeight">
      <agm-map id="map_canvas" class="" [zoom]="mapZoom" [streetViewControl]=false [styles]="mapStyle"
        [latitude]="map_lat" [longitude]="map_lgt">
        <ng-container *ngIf="(vehicles$ | async) as locations">
          <agm-marker-cluster *ngIf="locations && locations.length > 0" 
            [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
            <agm-marker *ngFor="let loc of locations" [latitude]="loc.latitude" [longitude]="loc.longitude" 
              iconUrl="assets/img/map/bus.40.png" [label]="loc.label"> 
              <agm-snazzy-info-window [maxWidth]="300" [closeWhenOthersOpen]="true">
                  <ng-template>
                    <small class="text-dark">{{ loc.latitude }}, {{ loc.longitude }}</small>
                  </ng-template>
                </agm-snazzy-info-window>
            </agm-marker>
          </agm-marker-cluster>
        </ng-container>
      </agm-map>
    </div>
    <div class="col-12 col-lg-3 pt-2 px-1">
      <input class="form-control bg-dark input-filter" size="5" [(ngModel)]="bus_number" type="text" placeholder="Filter by vehicle number"
        (keyup)=filterVehicles(bus_number)/>
      <table class="table table-responsive-lg table-striped table-hover table-outline table-sm mt-1">
        <thead class="text-white thead-light bg-primary">
          <tr>
            <th><small>#</small></th>
            <th><small>SOC/Range</small></th>
            <th><small>Odometer</small></th>
            <th><small>Updated</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vehicle of vehicles$ | async">
            <td>
              <div class="small">{{ vehicle.bus_number }}</div>
            </td>
            <td>
              <div class="small">{{ (vehicle.soc / vehicle.range).toFixed(2) }}</div>
            </td>
            <td>
              <div class="small">{{ vehicle.odometer }}</div>
            </td>
            <td>
              <div class="small">{{ vehicle.updated | date: 'MM/DD' }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>