<StackLayout class="page">
	<ActionBar title="Vehicles" class="action-bar">
	</ActionBar>
	<ScrollView>
		<StackLayout>
			<GridLayout rows="*" columns="*, auto">
				<SearchBar #searchBar id="searchBar" [hint]="searchHint"
					color="black" backgroundColor="#103241"
					borderColor="red"
					row="0" col="0"
					(textChange)="onSearchBar($event)"
					(tap)="onSearchBar($event)"
					(clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
				<Button row="0" col="1" *ngIf="enlargeSearchBar"
					text="Cancel" (tap)="onCancelSearch()"></Button>
			</GridLayout>
			<ListView [items]="myItems" height="300" class="list-group" *ngIf="enlargeSearchBar">
				<ng-template let-item="item">
					<GridLayout class="item list-group-item" backgroundColor="#103241"
						[nsRouterLink]="item.name">
						<Label [text]="item.name" class="list-group-item-heading"></Label>
					</GridLayout>
				</ng-template>
			</ListView>
			<ListView [items]="vStates" height="500" >
				<ng-template let-item="item" let-i="index">
						<FlexboxLayout flexDirection="row" opacity="0.7">
							<GridLayout rows="*, *, *" columns="100, *, 10" [nsRouterLink]="item.vcode"
								backgroundColor="#ffffff" height="100" margin="2.5 15" padding="10 0" borderRadius="10">
								<StackLayout row="0" rowSpan="3" col="0" backgroundColor="rgba(0,0,0,0.5)" height="80" width="80" verticalAlignment="center" horizontalAlignment="center" borderRadius="5">
									<Label [text]="item.vcode" class="text-center h2"></Label>
								</StackLayout>
								<StackLayout row="0" col="1" height="30" width="100%" verticalAlignment="center" horizontalAlignment="left">
									<Label class="text-left" color="black">
										<FormattedString>
											<Span text="SOC: " fontAttributes="Bold" ></Span>
											<Span [text]="item.spn9000 | number:'1.0-2'" color="#990000"></Span>
											<Span text="%"></Span>
										</FormattedString>
									</Label>
								</StackLayout>
								<StackLayout row="1" col="1" height="30" width="100%" verticalAlignment="center" horizontalAlignment="left">
									<Label class="text-left" color="black">
										<FormattedString>
											<Span text="Odometer: " fontAttributes="Bold"></Span>
											<Span [text]="item.spn917 / 1000 / 1.6 | number:'1.1-2'"></Span>
											<Span text=" mi"></Span>
										</FormattedString>
									</Label>
								</StackLayout>
								<StackLayout row="2" col="1" height="20" width="100%" verticalAlignment="center" horizontalAlignment="left" >
									<Label [text]="item.editDate.$date | date: 'MM/dd HH:mm:ss'" color="black"></Label>
								</StackLayout>
							</GridLayout>
						</FlexboxLayout>
				</ng-template>
			</ListView>
		</StackLayout>
	</ScrollView>
</StackLayout>