/* Add mobile styles for the component here.  */
.btn-scan {
    background-color: #4dbd74;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 100;
    vertical-align: middle;
    width: 150;
    height: 150;
}

.btn-scan:active {
    background-color: lightslategray;
    color:white;
}


.btn-camera {
    color: white;
    font-family: FontAwesome;
    font-size: 37px;
    vertical-align: top;
}

.btn-camera:active {
    color:lightslategray;
    font-size: 25px;
}

.btn-add {
    color: #4dbd74;
    font-family: FontAwesome;
    font-size: 40px;
    vertical-align: bottom;
}

.btn-remove-photo {
    color: white;
    font-family: FontAwesome;
    font-size: 40px;
    vertical-align: top;
}

.btn-reset-setting {
    color: white;
    font-family: FontAwesome;
    font-size: 40px;
    vertical-align: top;
}

