<StackLayout class="page">
	<ActionBar title="Setting" class="action-bar"></ActionBar>
	<Button text="&#xf029;" (tap)="onScan()" class="btn-scan m-y-20"></Button>
	<GridLayout tkExampleTitle tkToggleNavButton rows="auto, auto, *, auto">
		<Label text="Please scan before input: " fontWeight="bold" color="white" margin="10" row="0"></Label>
		<RadDataForm [source]="vehicle$ | async" row="1">
			<TKEntityProperty tkDataFormProperty name="vcode" index="0" displayName="Vehicle #">
				<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
			</TKEntityProperty>
			<TKEntityProperty tkDataFormProperty name="vin" index="1" displayName="VIN">
				<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
			</TKEntityProperty>
			<TKEntityProperty tkDataFormProperty name="identifier" index="2">
				<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
			</TKEntityProperty>
			<TKEntityProperty tkDataFormProperty name="picture" index="3">
				<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
			</TKEntityProperty>
		</RadDataForm>
		<StackLayout class="m-x-auto p-10" row="2">
			<Button text="Take the Photo" class="btn btn-primary btn-active" (tap)="onTakePhoto()"></Button>
			<Image [src]="imageTaken" class="p-15 img-rounded"></Image>
		</StackLayout>
		<StackLayout class="m-x-auto p-10" row="3">
			<Button class="eloha-font-semibold login-submit p-x-30"
				text="Add" (tap)="onTapSubmit()"></Button>
		</StackLayout>
	</GridLayout>
</StackLayout>