<div class="animated fadeIn">
  <div class="row mt-1">
    <app-nav-label></app-nav-label>
  </div>
  <div class="row mt-1">
    <div class="col">
      <app-datepicker-bar></app-datepicker-bar>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12 col-lg-6">
      <div class="table-responsive-lg">
        <table class="table table-striped table-hover table-outline table-sm mt-1">
          <thead class="text-white thead-light bg-primary">
            <tr>
              <th><small>Vehicle #</small></th>
              <th><small>Odometer</small></th>
              <th><small>Total alert</small></th>
              <th><small>Critical</small></th>
              <th><small>General</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="sumEntry$ | async as item" style="color: yellow">
              <td>&nbsp;&nbsp;{{ item.vehicle_number }}</td>
              <td>{{ item.odometer }}</td>
              <td>{{ item.total_alert }}</td>
              <td>{{ item.critical }}</td>
              <td>{{ item.general }}</td>
            </tr>
            <tr *ngIf="avgEntry$ | async as item" style="color: yellow">
              <td>&nbsp;&nbsp;{{ item.vehicle_number }}</td>
              <td>{{ item.odometer}}</td>
              <td>{{ item.total_alert | number: '1.0-2' }}</td>
              <td>{{ item.critical | number: '1.0-2' }}</td>
              <td>{{ item.general | number: '1.0-2' }}</td>
            </tr>
            <tr *ngFor="let item of alerts$ | async">
              <td>
                <a class="btn btn-link text-primary" (click)="nav(item.fleet_code, item.vehicle_number)"> 
                  <small>{{ item.vehicle_number }}</small>
                </a>
              </td>
              <td>
                <div class="small">{{ item.odometer }}</div>
              </td>
              <td>
                <div class="small">{{ item.total_alert }}</div>
              </td>
              <td>
                <div class="small">{{ item.critical }}</div>
              </td>
              <td>
                <div class="small">{{ item.general }}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="row mt-2">
        <div class="col mt-2">
          <h4 class="text-center">Alert Rate (top {{ topNum }})</h4>
          <div class="p-4">
            <canvas baseChart *ngIf="alertRateLabels && alertRateLabels.length > 0" 
              height="200" [data]="alertRateValues"
              [labels]="alertRateLabels" [chartType]="'pie'" [options]="pieOptions"></canvas>
          </div>
        </div>
      </div>
      <div class="row mt-2">
          <div class="col mt-2">
            <h4 class="text-center">Alert Type (top {{ topNum }})</h4>
            <div class="p-4">
              <canvas baseChart *ngIf="alertTypeLabels && alertTypeLabels.length > 0" 
                height="200" [data]="alertTypeValues"
                [labels]="alertTypeLabels" [chartType]="'pie'" [options]="pieOptions"></canvas>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>