<StackLayout class="page">
	<ActionBar title="Vehicles" class="action-bar">
	</ActionBar>
	<ScrollView>
		<StackLayout>
			<GridLayout rows="*" columns="*, auto">
				<SearchBar #searchBar id="searchBar" [hint]="searchHint"
					color="black" backgroundColor="#103241"
					borderColor="red"
					row="0" col="0"
					(textChange)="onSearchBar($event)"
					(tap)="onSearchBar($event)"
					(clear)="onClear($event)" (submit)="onSubmit($event)"></SearchBar>
				<Button row="0" col="1" *ngIf="enlargeSearchBar"
					text="Cancel" (tap)="onCancelSearch()"></Button>
			</GridLayout>
			<ListView [items]="myItems" height="300" class="list-group" *ngIf="enlargeSearchBar">
				<ng-template let-item="item">
					<GridLayout class="item list-group-item" backgroundColor="#103241"
						[nsRouterLink]="item.name">
						<Label [text]="item.name" class="list-group-item-heading"></Label>
					</GridLayout>
				</ng-template>
			</ListView>
			<GridLayout rows="*">
				<ListView [items]="vStates">
					<ng-template let-item="item" let-i="index">
						<StackLayout>
							<Label [text]="'test'"></Label>
						</StackLayout>
						<!-- <StackLayout>
							<Label *ngFor="let element of item.vcode" [text]="element.text"></Label>
						</StackLayout> -->
					</ng-template>
				</ListView>
			</GridLayout>
		</StackLayout>
	</ScrollView>
</StackLayout>