<StackLayout class="page">
    <ActionBar title="Vehicle" class="action-bar"></ActionBar>
    <GridLayout rows="50, auto" columns="*, *, *, *" class="text-center">
        <Label row="0" col="0" text="SPN" ></Label>
        <Label row="0" col="1" text="Name"></Label>
        <Label row="0" col="2" text="Value"></Label>
        <Label row="0" col="3" text="Unit"></Label>
        <!-- <Label row="1" col="0" colSpan="4" text="test"></Label> -->
        <!-- <StackLayout row="1" col="0" colSpan="4">
           <Label text="test"></Label>
        </StackLayout> -->
        <ScrollView row="1" col="0" colSpan="4">
            <StackLayout>
                <Label text="test"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <ScrollLayout>
    </ScrollLayout>
</StackLayout>