<div class="animated fadeIn">
  <div class="row mt-2">
    <div class="col-12 col-md-4 px-0">
      <app-nav-label></app-nav-label>
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          Start Time: {{ beginTime$ | async | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div class="col-6 col-md-4">
          <div class="border border-rounded">
            <button class="btn btn-link">
              <i class="fa fa-rotate-left" (click)="resetPlayer()"></i>
            </button>
            <button class="btn btn-link" (click)="stopPlayer()">
              <i class="fa fa-stop"></i>
            </button>
            <button class="btn btn-link" (click)="togglePlayer()">
              <ng-container *ngIf="pauser.value; then tPlay; else tPause"></ng-container>
              <ng-template #tPlay>
                <i class="fa fa-play"></i>
              </ng-template>
              <ng-template #tPause>
                <i class="fa fa-pause"></i>
              </ng-template>
            </button>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <label class="btn btn-link btn-primary btn-small border-0 pull-right">
            <i class="fa fa-upload"></i>
            <input type="file" hidden>
          </label>
          <button class="btn btn-link btn-primary btn-small border-0 pull-right">
            <i class="fa fa-download"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="row mt-2 pt-2 justify-content-around border border-secondary rounded">
        <div class="col-5">
          <label>Engine</label>
        </div>
        <div class="col-4">
          <label class="switch switch-label switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input">
            <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
          </label>
        </div>
        <div class="col-3">
          <img [src]="imgEngineCheck" class="img-fluid" alt="bus" width="35px" height="28px">
        </div>
      </div>
      <div class="row mt-2 pt-2 justify-content-around border border-secondary rounded">
        <div class="col-5">
          <label>Transmission</label>
        </div>
        <div class="col-7">
          <label class="switch switch-label switch-outline-secondary-alt">
            <input type="checkbox" class="switch-input">
            <span class="switch-slider" data-checked="D" data-unchecked="P"></span>
          </label>
        </div>
      </div>
      <div class="row mt-2 border border-secondary rounded">
        <div class="col table-responsive-lg">
          <table class="table table-striped table-hover table-outline table-sm mt-1">
            <thead class="text-white thead-light bg-primary">
              <tr>
                <th><small>CAN ID</small></th>
                <th><small>Start bit</small></th>
                <th>
                  <small>Length</small>
                  <button *ngIf="!isFiltering" (click)="filterCans()" class="btn btn-link pull-right p-0 m-0">
                    <i class="fa fa-filter"></i>
                  </button>
                  <button *ngIf="isFiltering" (click)="filterCans()" class="btn btn-link text-danger pull-right p-0 m-0">
                    <i class="fa fa-times"></i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="filterCanID" />
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="filterStartBit" />
                </td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="filterLength" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-2 border border-secondary rounded">
        <div class="col-6 table-responsive-lg">
          <table class="table table-striped table-hover table-outline table-sm mt-1">
            <thead class="text-white thead-light bg-primary">
              <tr>
                <th><small>Max</small></th>
                <th><small>Min</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" [value]="max" disabled />
                </td>
                <td>
                  <input type="text" class="form-control" [value]="min" disabled />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-6 table-responsive-lg">
          <table class="table table-striped table-hover table-outline table-sm mt-1">
            <thead class="text-white thead-light bg-primary">
              <tr>
                <th><small>Times</small></th>
                <th><small>Time (s)</small></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" class="form-control" [value]="times" disabled />
                </td>
                <td>
                  <input type="text" class="form-control" [value]="time" disabled />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mt-2 py-2 border border-secondary rounded px-0">
        <ul class="col list-unstyled">
          <!-- <li *ngFor="let item of cansPausable$ | async" class="row text-monospace"> -->
          <li *ngFor="let item of cansToShow$ | async">
            <div [ngClass]="filterKey && filterKey.toUpperCase() === item.key.toUpperCase() ? 'text-warning' : '' ">
              <div class="row text-monospace no-gutters p-0 m-0">
                <div class="col-3">
                  {{ item.key | uppercase }}
                </div>
                <div class="col-5">
                  {{ item.value | uppercase }}
                </div>
                <div class="col-4">
                  {{ item.time | date: 'HH:mm:ss' }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row no-gutters mt-2">
        <div class="col-6 text-center">
          <!-- <ngx-gauge size="100" foregroundColor="#17a2b8" [type]="gaugeType" [value]="85" [label]="'Speed'" [thick]="gaugeThick"
            [append]="">
          </ngx-gauge> -->
          <app-chart-gauge [value]="85" 
            [max]="100" title="Speed"></app-chart-gauge>
        </div>
        <div class="col-6 text-center">
          <!-- <ngx-gauge size="100" foregroundColor="#17a2b8" [type]="gaugeType" [value]="57" [label]="'RPM'" [thick]="gaugeThick"
            [append]="">
          </ngx-gauge> -->
          <app-chart-gauge [value]="57" 
            [max]="100" title="RPM"></app-chart-gauge>
        </div>
        <div class="col-6 text-center">
          <!-- <ngx-gauge size="100" foregroundColor="#17a2b8" [type]="gaugeType" [value]="68.3" [label]="'Spare 1'" [thick]="gaugeThick"
            [append]="">
          </ngx-gauge> -->
          <app-chart-gauge [value]="57" 
            [max]="100" title="Spare 1"></app-chart-gauge>
        </div>
        <div class="col-6 text-center">
          <!-- <ngx-gauge size="100" foregroundColor="#17a2b8" [type]="gaugeType" [value]="68.3" [label]="'Spare 2'" [thick]="gaugeThick"
            [append]="">
          </ngx-gauge> -->
          <app-chart-gauge [value]="57" 
            [max]="100" title="Spare 2"></app-chart-gauge>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-12 col-md-6">
          Odometer: {{ odometer }}
        </div>
        <div class="col-12 col-md-6">
          VIN: {{ vin }}
        </div>
      </div>
      <div class="row px-2">
        <div class="col text-center">
          <img [src]="imgBus" class="img-fluid" alt="bus" width="60%" height="auto">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Coolant level</label>
            </div>
          </div>
          <div class="progress border border-dark">
            <div class="progress-bar bg-success" [style.width.%]="'50'">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Coolant temperature</label>
            </div>
          </div>
          <div class="progress border border-dark">
            <div class="progress-bar bg-success" [style.width.%]="'90'">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Spare 1</label>
            </div>
          </div>
          <div class="progress border border-dark">
            <div class="progress-bar bg-success" [style.width.%]="'22'">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Spare 2</label>
            </div>
          </div>
          <div class="progress border border-dark">
            <div class="progress-bar bg-success" [style.width.%]="'80'">
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Front door</label>
            </div>
            <div class="col-5 text-right">
              <label class="switch switch-label switch-outline-secondary-alt">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Rear door</label>
            </div>
            <div class="col-5 text-right">
              <label class="switch switch-label switch-outline-secondary-alt">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Spare 1</label>
            </div>
            <div class="col-5 text-right">
              <label class="switch switch-label switch-outline-secondary-alt">
                <input type="checkbox" class="switch-input" checked>
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Spare 2</label>
            </div>
            <div class="col-5 text-right">
              <label class="switch switch-label switch-outline-secondary-alt">
                <input type="checkbox" class="switch-input">
                <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row">
        <div class="col d-flex flex-column justify-content-center">
          <div class="input-group mt-1">
            <span class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-calendar"></i>
              </span>
            </span>
            <input class="form-control" bsDatepicker [bsValue]="selectedTime">
          </div>
        </div>
        <div class="col">
          <timepicker [(ngModel)]="selectedTime" [arrowkeys]="'false'"></timepicker>
        </div>
      </div>
      <div class="row">
        <div class="col mt-2 p-2" [style.min-height.px]="mapMinHeight" [style.background-color]="'#242f3e'">
          <agm-map id="map_canvas" *ngIf="loadMap" [zoom]="mapZoom" [streetViewControl]=false [styles]="mapStyle"
            [latitude]="map_lat" [longitude]="map_lgt">
            <ng-container *ngIf="(vehicle$ | async) as vehicle">
              <agm-marker [latitude]="vehicle.latitude" [longitude]="vehicle.longitude" 
                iconUrl="assets/img/map/arrow_orange.20.png">
              </agm-marker>
            </ng-container>
            <!-- <ng-container *ngIf="(vehicles$ | async) as locations">
              <agm-marker *ngFor="let loc of locations" [latitude]="loc.latitude" [longitude]="loc.longitude">
              </agm-marker>
              <agm-polyline [polylineDraggable]=false [strokeColor]="'red'" [strokeOpacity]="0.5" [strokeWeight]="5">
                <agm-polyline-point *ngFor="let loc of locations" [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-polyline-point>
              </agm-polyline>
            </ng-container> -->
          </agm-map>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <!-- <div id="carousel-side-info" class="carousel slide" data-ride="carousel" data-interval="0" data-wrap="false">
            <div class="d-flex justify-content-between px-2">
              <a class="" href="#carousel-side-info" data-slide="prev">
                <i class="fa fa-chevron-left"></i>
              </a>
              <a class="" href="#carousel-side-info" data-slide="next">
                <i class="fa fa-chevron-right"></i>
              </a>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
              </div>
              <div class="carousel-item"> -->
                <div class="row table-responsive-lg m-0">
                  <app-spn-def-list class="w-100"></app-spn-def-list>
                </div>
              <!-- </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>