<div class="animated fadeIn">
  <div class="row m-4">
    <ng-container *ngIf="(viewProfile$ | async)?.fleet_code as fcode; 
      then listTemplate; 
      else navTemplate">
    </ng-container>
    <ng-template #listTemplate>
      <div *ngFor="let vehicle of vehicles$ | async" class="col-12 col-md-6">
        <button (click)="nav(vehicle.fcode, vehicle.vcode)" 
          class="btn btn-secondary btn-block text-warning h-75 pt-3 pb-4">
          <h2>{{ vehicle.vcode }}</h2>
        </button>
      </div>
    </ng-template>
    <ng-template #navTemplate>
      <h1>Please select fleet first</h1>
    </ng-template>
  </div>
</div>