<div class="animated fadeIn">
  <div class="row mt-2">
    <div class="col-12 col-md-4 px-0">
      <app-nav-label></app-nav-label>
      <button class="btn btn-link pull-right p-0" (click)="switchSyncStatus()">
        <ng-container *ngIf="isAutoSync; then tSpin; else tStill"></ng-container>
        <ng-template #tSpin>
          <i class="fa fa-refresh fa-spin"></i>&nbsp;<small>Auto Sync</small>
        </ng-template>
        <ng-template #tStill>
          <i class="fa fa-refresh"></i>&nbsp;<small>Manual Sync</small>
        </ng-template>
      </button>
    </div>
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 col-md-6">
          Current Time: {{ currentTime | date: 'yyyy-MM-dd HH:mm:ss'}}
        </div>
        <div class="col-12 col-md-6">
          Last updated: {{ (vehicle$ | async)?.editDate?.$date | date: 'yyyy-MM-dd HH:mm:ss' }}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="row mt-2 pt-2 justify-content-around border border-secondary rounded">
        <div class="col-5">
          <label>Engine</label>
        </div>
        <div class="col-4">
          <app-switch [isSwitchOn]="(vehicle$ | async)?.spn9007"></app-switch>
        </div>
        <div class="col-3">
          <img *ngIf="(vehicle$ | async)?.engine_check"
            [src]="imgEngineCheck" class="img-fluid" alt="bus" width="35px" height="28px">
        </div>
      </div>
      <div class="row mt-2 pt-2 justify-content-around border border-secondary rounded">
        <div class="col-5">
          <label>Transmission</label>
        </div>
        <div class="col-4">
          <app-transmission-switch [shift]="(vehicle$ | async)?.transmission"></app-transmission-switch>
        </div>
        <div class="col-3">
          <img *ngIf="(vehicle$ | async)?.transmission_check"
            [src]="imgTransmissionCheck" class="img-fluid" alt="bus" width="35px" height="28px">
        </div>
      </div>
      <div class="row mt-2 py-2 border border-secondary rounded">
        <div class="col-12 col-lg-8">
          <div class="row">
            <div class="col">
              <app-tooltip-label label="fuel economy"></app-tooltip-label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="card mb-0 div-disabled">
                <app-play-chart [len]="len" [intSec]="intSec"
                  [labels]="playChartLabels" [data$]="playChartData$"></app-play-chart>
                <!-- <div class="chart-wrapper mt-0" style="height:70px;">
                  <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options"
                    [colors]="lineChart3Colours" [legend]="lineChart3Legend" [chartType]="lineChart3Type"></canvas>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>Latest value:</small>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>Avg:</small>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="row">
            <div class="col">
              <app-tooltip-label label="engine idle"></app-tooltip-label>
            </div>
          </div>
          <div class="row">
            <div class="col mb-2">
              <div class="chart-wrapper mt-0" style="height:150px;">
                <canvas baseChart class="chart" [datasets]="lineChart3Data" [labels]="lineChart3Labels" [options]="lineChart3Options"
                  [colors]="lineChart3Colours" [legend]="lineChart3Legend" [chartType]="'pie'"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>Running: </small>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <small>Idle:</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col mt-2 p-2 div-disabled" [style.min-height.px]="mapMinHeight" [style.background-color]="'#242f3e'">
          <agm-map id="map_canvas" *ngIf="loadMap" [zoom]="mapZoom" [streetViewControl]=false [styles]="mapStyle"
            [latitude]="map_lat" [longitude]="map_lgt">
            <ng-container *ngIf="(vehicle$ | async)?.geolocations as locations">
              <ng-container *ngFor="let loc of locations; let i = index; let isFirst = first; let isLast = last;" >
                <agm-marker *ngIf="isLast" iconUrl="assets/img/map/arrow_orange.20.png"
                  [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-marker>
                <agm-marker *ngIf="!isLast" iconUrl="assets/img/map/fa-circle.10.png"
                  [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-marker>
              </ng-container>
              <agm-polyline [polylineDraggable]=false [strokeColor]="'white'" [strokeOpacity]="0.5" [strokeWeight]="5">
                <agm-polyline-point *ngFor="let loc of locations" [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-polyline-point>
              </agm-polyline>
            </ng-container>
            <!-- <ng-container *ngIf="(vehicles$ | async) as locations">
              <ng-container *ngFor="let loc of locations; let i = index; let isFirst = first; let isLast = last;" >
                <agm-marker *ngIf="isLast" iconUrl="assets/img/map/arrow_orange.20.png"
                  [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-marker>
                <agm-marker *ngIf="!isLast" iconUrl="assets/img/map/fa-circle.10.png"
                  [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-marker>
              </ng-container>
              <agm-polyline [polylineDraggable]=false [strokeColor]="'white'" [strokeOpacity]="0.5" [strokeWeight]="5">
                <agm-polyline-point *ngFor="let loc of locations" [latitude]="loc.latitude" [longitude]="loc.longitude">
                </agm-polyline-point>
              </agm-polyline>
            </ng-container> -->
          </agm-map>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row no-gutters mt-2">
        <div class="col-6 text-center py-1 vehicle-gauge" >
          <app-chart-gauge [value]="(vehicle$ | async)?.spn84 | number:'1.0-1'"
            [max]="100" title="Speed"></app-chart-gauge>
        </div>
        <div class="col-6 text-center py-1 bg-secondary vehicle-gauge">
          <app-chart-gauge [value]="(vehicle$ | async)?.spn190 | number:'1.0-1'" 
            [max]="5000" title="RPM"></app-chart-gauge>
        </div>
        <div class="col-6 text-center py-1 bg-secondary vehicle-gauge">
          <app-chart-gauge [value]="(vehicle$ | async)?.spn9000 | number:'1.0-1'" 
            [max]="100" title="SOC(%)"></app-chart-gauge>
        </div>
        <div class="col-6 text-center py-1 vehicle-gauge">
          <app-chart-gauge [value]="(vehicle$ | async)?.spn9001 | number:'1.0-1'" 
            [max]="300" title="Battery kWh"></app-chart-gauge>
        </div>
      </div>
      <!-- <div class="dropdown-divider border border-info"></div> -->
      <div class="dropdown-divider"></div>
      <div class="row">
        <div class="col-12 col-md-6">
          Odometer: {{ (vehicle$ | async)?.spn917 / 1000 / 1.6 | number:'1.1-2' }} mi
        </div>
        <div class="col-12 col-md-6">
          VIN: {{ (vehicle$ | async)?.vin }}
        </div>
      </div>
      <div class="row px-2">
        <div class="col text-center">
          <img [src]="imgBus" class="img-fluid" alt="bus" width="60%" height="auto">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Battery Voltage</label>
            </div>
          </div>
          <app-progress-bar [value]="(vehicle$ | async)?.spn9002"
            min="0" max="800"></app-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>Battery Current</label>
            </div>
          </div>
          <app-progress-bar [value]="(vehicle$ | async)?.spn9003"
            [min]="-300" [max]="300"></app-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>L-C Battery Temp</label>
            </div>
          </div>
          <app-progress-bar [value]="(vehicle$ | async)?.spn9005"
            min="0" max="220"></app-progress-bar>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <label>H-C Battery Temp</label>
            </div>
          </div>
          <app-progress-bar [value]="(vehicle$ | async)?.spn9006"
            [min]="0" [max]="220"></app-progress-bar>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Front door</label>
            </div>
            <div class="col-5 text-right">
              <app-switch [isSwitchOn]="(vehicle$ | async)?.spn9010"></app-switch>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Rear door</label>
            </div>
            <div class="col-5 text-right">
              <app-switch [isSwitchOn]="(vehicle$ | async)?.spn9011"></app-switch>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Left Charging</label>
            </div>
            <div class="col-5 text-right">
              <app-switch [isSwitchOn]="(vehicle$ | async)?.spn9008"></app-switch>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-7">
              <label>Right Charging</label>
            </div>
            <div class="col-5 text-right">
              <app-switch [isSwitchOn]="(vehicle$ | async)?.spn9009"></app-switch>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div id="carousel-side-info" class="carousel slide" 
        data-ride="carousel" data-interval="0" data-wrap="false">
        <div class="d-flex justify-content-between px-2">
          <a class="" href="#carousel-side-info" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
          </a>
          <a class="" href="#carousel-side-info" data-slide="next">
            <i class="fa fa-chevron-right"></i>
          </a>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row table-responsive-lg m-0">
              <table class="table table-striped table-hover table-outline table-sm mt-1">
                <thead class="text-white thead-light bg-primary">
                  <tr>
                    <th><small>SPN</small></th>
                    <th><small>Name</small></th>
                    <th><small>Value</small></th>
                    <th><small>Unit</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of vehicleStateSpnList$ | async">
                    <td>
                      <div class="small">{{ item.spn }}</div>
                    </td>
                    <td>
                      <div class="small">{{ item.name }}</div>
                    </td>
                    <td>
                      <div class="small">{{ item.value }}</div>
                    </td>
                    <td>
                      <div class="small">{{ item.unit }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row table-responsive-lg m-0">
              <table class="table table-striped table-hover table-outline table-sm mt-1">
                <thead class="text-white thead-light bg-primary">
                  <tr>
                    <th><small>Alert name</small></th>
                    <th><small>SPN</small></th>
                    <th><small>Date time</small></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let alert of alerts$ | async">
                    <td>
                      <div class="small">{{ alert.name }}</div>
                    </td>
                    <td>
                      <div class="small">{{ alert.spn }}</div>
                    </td>
                    <td>
                      <div class="small">{{ alert.updated }}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row table-responsive-lg m-0">
              <app-spn-def-list class="w-100"></app-spn-def-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>