@import "./../../../scss/style";

html, body, #map_canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
}

#map_canvas {
    position: relative;
}

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.vehicle-gauge {
    height: 150px;
}

.vehicle-gauge-alt {
    @extend .vehicle-gauge;
    background-color: #555555;
}
