<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/fancycan.white.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/fc.white.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="true"
  [mobileSidebarToggler]="true"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" [routerLink]="['/fleet/list']">Fleet</a>
      <small class="text-warning">{{ fcode$ | async }}</small>
    </li>
    <li class="nav-item px-3" *ngIf="fcode$ | async">
      <a class="nav-link" [routerLink]="['/vehicle/list']">Vehicle</a>
      <small class="text-warning">{{ vcode$ | async }}</small>
    </li>
    <li class="nav-item px-3" *ngIf="fcode$ | async">
      <a class="nav-link text-warning" [routerLink]="['/fleet/list']" 
        (click)="resetViewProfile()">
        <i class="fa fa-times" title="Reset fleet & vehicle"></i>
      </a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link mx-2" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatar/guest_male.png" class="img-avatar" alt="Welcome"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
    </ol> -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>
  <app-aside [fixed]="true" [display]="false">

  </app-aside>
</div>
<app-footer>
</app-footer>
