<TabView class="" tabBackgroundColor="black" selectedTabTextColor="white"
    selectedIndex="0" androidTabsPosition="bottom">
    <page-router-outlet
        *tabItem="{title: 'Vehicles', iconSource: 'res://tabicons/bus.white'}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Checklist', iconSource: 'res://tabicons/list.white'}"
        name="scanTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Setting', iconSource: 'res://tabicons/cog.white'}"
        name="settingTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Notifications', iconSource: 'res://tabicons/exclamation-triangle.white'}"
        name="alertTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: 'Me', iconSource: 'res://tabicons/user.white'}"
        name="moreTab">
    </page-router-outlet>
</TabView>
