<TabView class="fa h3" tabBackgroundColor="black" selectedTabTextColor="white"
    selectedIndex="0" androidTabsPosition="bottom">
    <!-- <page-router-outlet
        *tabItem="{title: '&#xf207;'}"
        name="homeTab">
    </page-router-outlet> -->

    <page-router-outlet
        *tabItem="{title: 'Vehicle', iconSource: 'res://tabicons/bus'}"
        name="homeTab">
    </page-router-outlet>

    <!-- <page-router-outlet
        *tabItem="{title: '&#xf03a;'}"
        name="scanTab">
    </page-router-outlet> -->

    <page-router-outlet
        *tabItem="{title: 'Checklist', iconSource: 'res://tabicons/list'}"
        name="scanTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xf013;'}"
        name="settingTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xf071;'}"
        name="alertTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{title: '&#xf2c0;'}"
        name="moreTab">
    </page-router-outlet>
</TabView>

<!-- <TabView class="fa h3" tabBackgroundColor="black" selectedTabTextColor="white"
    selectedIndex="0" androidTabsPosition="bottom">
    <page-router-outlet
        *tabItem="{iconSource: 'res://bus.icon.20.png', title: 'Home'}"
        name="homeTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{iconSource: 'res://icon', title: 'Scan'}"
        name="scanTab">
    </page-router-outlet>

    <page-router-outlet
        *tabItem="{iconSource: 'res://icon', title: 'Scan'}"
        name="moreTab">
    </page-router-outlet>
</TabView> -->

