@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


.spn-input-group span {
    width: 110px !important;
}

.div-disabled {
    pointer-events: none;
    opacity: 0.4;
}

.div-disabled-title {
    pointer-events: none;
    opacity: 0.4;

    ::before {
        content: "Feature is disabled...";
        display: block;
        text-align: center;
        background-color: yellow;
        color: red;
        font-weight: bold;
    }
}

h2 {
    font-family: 'Roboto Slab', serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    // border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: grey; 
    // border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darkgrey; 
}

/* ng-select section */
:host /deep/ ng-select .below {
    background-color: #343a40;
}

:host /deep/ ng-select .below .single .placeholder {
    color: #ffffff;
}

:host /deep/ select-dropdown .selected {
    background-color: #343a40;
}